.book-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.book-image {
    width: 9rem;
    height: 13rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.book-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.book-card:hover .book-info{
  transform: translateY(-5px);
  opacity: 1;
}

.book-title, .book-author {
  color: #fff;
  margin-block: 0;
}